* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Cinzel', serif; /* Using google fonts for the page header*/
    background-color:rgb(228, 214, 152);
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    margin-top: 5px;
    padding: 50px;
    font-weight: bold;
}

span {
color: grey;
}

/*Added a border to one side of column to achieve stylized look*/
.sidebar {
    border-right: 2px solid grey;
}

.myfooter {
    margin-top: 5px;
    margin-bottom: 5px;
}

.desi {
    padding: 10px;
}

